@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: rgb(43, 205, 207);
  background: linear-gradient(
    0deg,
    rgba(43, 205, 207, 1) 0%,
    rgba(253, 238, 45, 1) 100%
  );
  padding: 2rem;
}
